<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Home Page</title>
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/home-style.css">
    </head>
<body>
  
  <!--Navbar section-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/Findings">Findings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Map">Location</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>


<!--Content Section-->
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-12">
      <!-- Left box  -->
      <div class="box">
        <h3 class="title">MONITORING OF TAILINGS DAMS WITH PEIZOMETER READINGS</h3>
        <hr>
        <!--img-->
        <p>Peizometer is an instrument used for measuring underground water pressure. Thus, helps 
          in monitoring of dams and embankments.(no.8 in the figure represents Peizometer).
           </p>
        <p>This is a real case study of a data visualization of instrumentation on a Tailings Dam.
          The data represents pore water pressure readings caught up by Vibrating Wire Piezometers (VWP) in an existing embankment.
          The readings were collected from Windhoek in Africa.Here,readings from five different peizometers have been collected to 
          see the trend of water pressure(kPA) from 2016 to 2021. </p>
      </div>
    </div>
    <div class="col-lg-5 col-md-12">
      <!-- Right Box -->
      <div class="box">
        <h5 class="title">......</h5>
        <hr>
          
        <!--Nested columns in right box-->
        <div class="container">
          <!--1st two images in top row-->
          <div class="row" style="padding-bottom: 30px;"> 
            <div class="col-12">
              <a href="">
                <img class="first-slide img-fluid" alt="" width="700" height="550" srcset="https://www.mdpi.com/water/water-12-00737/article_deploy/html/images/water-12-00737-g004.png 300w, https://www.mdpi.com/water/water-12-00737/article_deploy/html/images/water-12-00737-g004.png 1024w, https://www.mdpi.com/water/water-12-00737/article_deploy/html/images/water-12-00737-g004.png 150w, https://www.mdpi.com/water/water-12-00737/article_deploy/html/images/water-12-00737-g004.png 768w, https://www.mdpi.com/water/water-12-00737/article_deploy/html/images/water-12-00737-g004.png 900w, https://www.mdpi.com/water/water-12-00737/article_deploy/html/images/water-12-00737-g004.png 600w, https://www.mdpi.com/water/water-12-00737/article_deploy/html/images/water-12-00737-g004.png 100w, https://www.mdpi.com/water/water-12-00737/article_deploy/html/images/water-12-00737-g004.png 75w" sizes="(max-width: 300px) 100vw, 300px" >
              </a>
            </div>
            
          </div>
            
          <!--last two images in bottom row-->
          
        </div>

      </div>
    </div>            
  </div>
</div>      


      
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

