/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}
.container-fluid .navbar-brand{
  background-color: skyblue;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white; 
}

.nav-item .nav-link{
  color:black;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}
